

body {
    font-family: "Sono", sans-serif;
  }
  .pricing-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    gap: 2rem;
  }
  .pricing-plan{
  flex:1;
  background-color:gray;
  max-width: 400px;
  padding: 20px;
  border-radius: 25px;


    
  }
  .plan-title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
  
  }
  .plan-price{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
  
  }
 .plan-button{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color:blue;

 }
 .plan-features{
  list-style: none;
  padding: 0px;
 }

  

  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 1250px) {
    .pricing-container {
      flex-direction: column;
      height: 100-vh;
  }